//una variable es un atributo específico al cuál se le da un nombre y se puede usar en cualquier lugar. Ej: 
// $azulmarino: rgb(101, 140, 212
$azulmarino: rgb(0, 109, 235);
$boxshadow:  0 0 30px rgba(32, 83, 177, 0.8);
$backgroung-gradient: linear-gradient(to right, #370617, #6a040f, #9d0208, #d00000, #dc2f02, #e85d04, #f48c06, #faa307, #ffba08);
$backgroung-gradient2: linear-gradient(to right, #33DEED, #12C0CF, #0E94A0, #0B737D);