.flex{
    display: flex;
}

.seg {
    display: flex;
    height: 100px;
    width: 500px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'personal';
    border-radius: 20px;
}

.logoRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;
}

.instagram {
    height: 50px;
    width: auto;
    margin: 0px 20px;
    transition: height 1s;
}

.av {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:white;  
}

footer{
    background-color: black;
}